{% extends 'expense/base.html' %} {% block content %}

<div class="header">
  <h2>Hello {{ request.user }}</h2>
  <a class="btn btn-warning" href="{% url 'logout' %}">logout</a>
</div>

<div class="filter-table">
  <form action="" method="GET">
  {% csrf_token %}
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Title</th>
          <td>{{ my_filter.form.title }}</td>
        </tr>
        <tr>
          <th scope="row">Start Date</th>
          <td>{{ my_filter.form.start_date }}</td>
        </tr>
        <tr>
          <th scope="row">End Date</th>
          <td>{{ my_filter.form.end_date }}</td>
        </tr>
        <tr>
          <th scope="row"</th>
          <td><input class="btn btn-primary" type="submit" value="View results"></td>
        </tr>
      </tbody>
    </table>

    
  </form>
</div>


<div class="add-expense">
  <a class="btn btn-warning" href=" {% url 'add-expense' user.id %} ">Add Expense</a>
  <h4>Total: {{ total }}</h4>
</div>

<table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Amount</th>
      <th scope="col">View/Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}

    <tr class="table table-light table-striped">
      <td>{{ expense.date }}</td>
      <td>{{ expense.title }}</td>
      <td>{{ expense.amount }}</td>
      <td>
        <a
          class="btn btn-warning"
          href=" {% url 'update-expense' expense.id %} "
          >Update</a
        >
      </td>
      <td>
        <a class="btn btn-danger" href=" {% url 'delete-expense' expense.id %} "
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
