{% extends 'expense/base.html' %}

{% block content %}


<div class="Registration-form">
    <form action="" method="POST">
      <h3 align="center">Login</h3>
      <hr />
      {% csrf_token %}
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Username</th>
            <td><input type="text" placeholder="username" name="username"></td>
          </tr>
          <tr>
            <th scope="row">Password</th>
            <td><input type="password" placeholder="password" name="password"></td>
          </tr>
          <tr>
            <th scope="row">
              <a class="btn btn-danger" href=" {% url 'register' %} "
                >Click To Register</a
              >
            </th>
            <td>
              <input
                class="btn btn-warning"
                type="submit"
                value="Login"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  {% for message in messages %}
  <p>{{ message }}</p>
{% endfor %}


{% endblock %}