{% extends 'expense/base.html' %} {% block content %}

<div class="Registration-form">
  <form action="" method="POST">
    <h3 align="center">Register</h3>
    <hr />
    {% csrf_token %}
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">{{ form.username.label }}</th>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <th scope="row">{{ form.email.label }}</th>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <th scope="row">{{ form.password1.label }}</th>
          <td>{{ form.password1 }}</td>
        </tr>
        <tr>
          <th scope="row">{{ form.password2.label }}</th>
          <td>{{ form.password2 }}</td>
        </tr>
        <tr>
          <th scope="row">
            <a class="btn btn-danger" href=" {% url 'login' %} "
              >Already having account</a
            >
          </th>
          <td>
            <input
              class="btn btn-warning"
              type="submit"
              value="Create New User"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {{ form.errors }}
  <div class="already-login"></div>
</div>

{% endblock %}
