{% extends 'expense/base.html' %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'home' %}">&#8592; Go Back</a>
</div>

<div class="expense-form">
    <form action="" method="POST">
    {% csrf_token %}
      <table class="table">
        <tbody>
          
          <tr>
            <th scope="row">{{ form.title.label }}</th>
            <td>{{ form.title }}</td>
          </tr>
          <tr>
            <th scope="row">{{ form.description.label }}</th>
            <td>{{ form.description }}</td>
          </tr>
          <tr>
            <tr>
            <th scope="row">{{ form.amount.label }}</th>
            <td>{{ form.amount }}</td>
          </tr>
          
          <tr>    
            <th scope="row"</th>
            <td><input class="btn btn-warning" type="submit" value="Submit"></td>
          </tr>
        </tbody>
      </table>

    </form>
  </div>
{% endblock %}